<div class="ng-star-inserted">
    <div>
      <h2 class="title">Sign In</h2>
      <small class="form-text sub-title">Hello! Sign in with your username</small>
      <form autocomplete="nope" novalidate="" class="ng-touched ng-dirty ng-invalid">
        <!--bindings={
"ng-reflect-ng-if": "false"
}-->
        <!--bindings={
"ng-reflect-ng-if": "false"
}-->
        <div class="form-group">
          <label class="sr-only" for="input-email">Username</label>
          <input autofocus="" class="form-control ng-pristine ng-invalid form-control-danger ng-touched"
            id="input-email" name="email" placeholder="Username" ng-reflect-required="true" ng-reflect-name="email" required=""
            [(ngModel)]="username">
          <!--bindings={
"ng-reflect-ng-if": "true"
}-->
          <!--small class="form-text error ng-star-inserted"> Username is required! </small-->
          <!--bindings={}-->
        </div>
        <div class="form-group">
          <label class="sr-only" for="input-password">Password</label>
          <input class="form-control ng-untouched ng-pristine ng-invalid" id="input-password"
            name="password" placeholder="Password" type="password" ng-reflect-required="true" ng-reflect-minlength="4"
            ng-reflect-maxlength="50" ng-reflect-name="password" required="" minlength="4" maxlength="50"
            [(ngModel)]="password">
          <!--bindings={
"ng-reflect-ng-if": "false"
}-->
          <!--bindings={
"ng-reflect-ng-if": "false"
}-->
        </div>
        <div class="form-group accept-group col-sm-12">
          <a class="forgot-password" routerlink="../request-password" ng-reflect-router-link="../request-password"
            href="#/auth/request-password">Forgot Password?</a>
        </div>
        <button class="btn btn-block btn-hero-success" (click)="login()"> Sign In </button>
      </form>
      
    </div>
  </div>